@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
.primary-color-bg {
  background-color: var(--primaryColorBg) !important;
} */

.primary-color {
  color: #fff;
  color: var(--primaryColor, #fff);
  background-color: black;
  background-color: var(--primaryColorBg);
}
.primary-color:hover {
  color: var(--primaryColorHover);
  background-color: var(--primaryColorBgHover);
}
